main{
    background-color: rgba(182, 154, 209, 0.893);
    text-align: center;
}
header{
    background-color: rgba(182, 154, 209, 0.893);
    text-align: center;
}
footer{
    background-color: rgba(247, 41, 127, 0.893);
    text-align: center;
}