* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgba(182, 154, 209, 0.893);
    text-align: center;
}

header {
    background-color: rgba(27, 174, 197, 0.893);
    text-align: center;
}

footer {
    background-color: rgba(247, 41, 127, 0.893);
    text-align: center;
}

#ConferenciaO {
    background-color: rgba(255, 1, 1, 0.739);
    border-radius: 20%;
}

#ConferenciaE {
    background-color: rgb(131, 162, 247);
    border-radius: 20%;
}

#Editorial {
    background-color: rgb(220, 232, 95);
    border-radius: 20%;
}

#MVP {
    background-color: rgb(163, 240, 108);
    border-radius: 20%;
}

.noticia {
    background-color: rgba(245, 245, 220, 0.788);
    margin-bottom: 3%;
    margin-left: 18%;
    margin-right: 18%;
}

.noticiaFinal {
    background-color: rgba(245, 245, 220, 0.788);
    margin-left: 18%;
    margin-right: 18%;
}

.imgIndex {
    width: 90%;
    object-fit: cover;
}
.imgArticle{
    max-width: 90%;
}

nav {
    display: inline;
}

table {

    width: 25%;

    border-collapse: collapse;

    background-color: #46f7b0;

    margin: auto;
    margin-top: 5%;

}


td {

    border: 1px solid black;

    text-align: center;

}
p{
    font-size: 25px;
}
dt{
    font-size: 30px;
}
dd{
    font-size: 25px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 39px;
}
h3{
    font-size: 30px;
}

form {

    margin:auto;
    max-width: 60%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {

    display: inline-block;
    width: 200px;
    text-align: right;
  }
  
  input,
  textarea {

    font: 1em sans-serif;
  

    width: 300px;
    box-sizing: border-box;
  

    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {

    border-color: #000;
  }
  
  textarea {

    vertical-align: top;
  

    height: 5em;
  }
  
  .button {

    padding-left: 90px; 
  }
  
  button {

    margin-left: .5em;
  }
  .articuloInside {
    margin-top: 3%;
    margin-left: 18%;
    margin-right: 18%;
    padding-bottom: 3%;
  }