*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: rgba(182, 154, 209, 0.893);
    text-align: center;
}
header{
    background-color: rgba(27, 174, 197, 0.893);
    text-align: center;
}
footer{
    background-color: rgba(247, 41, 127, 0.893);
    text-align: center;
}
#ConferenciaO{
    background-color: rgba(255, 1, 1, 0.739);
    border-radius: 20%;
}
#ConferenciaE{
    background-color: rgb(131, 162, 247);
    border-radius: 20%;
}
#Editorial{
    background-color: rgb(220, 232, 95);
    border-radius: 20%;
}
#MVP{
    background-color: rgb(163, 240, 108);
    border-radius: 20%;
}
.noticia{
    background-color: beige;
    margin-top: 3%;
    margin-left: 17%;
    margin-right: 17%;
    border-style:solid ;
}